.t-sst-radius:before {
    position: absolute;
    content: attr(content);
    display: block;
    border-radius:0 0 30px;
    padding: 0 15px 0 10px;
    z-index:999;
    height:20px;
    background: red;
    color:#fff;
    line-height: 20px;
    font-size:12px;
}


.t-sst-triangle:before {
    position: absolute;
    content: " ";
    display: block;
    border:20px solid red;
    border-bottom-color:transparent;
    border-right-color:transparent;
    left:0;
    top:0;
    z-index: -1;
    width:0;
    height:0;
}

.t-sst-triangle {
    position: absolute;
    z-index:4;
    left:0;
    top:0;
    padding-left:2px;
    padding-top:2px;
}




