.sst-triangle:before {
    position: absolute;
    content: ' ';
    display: block;
    border: 30px solid transparent;
    border-top-color: #ff0000;
    z-index: -1;
    transform: rotate(135deg);
    top: 0;
    left: 0;
    margin-left: -100%;
    margin-top: -100%;
}


.sst-triangle {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    z-index: 4;
    padding: 1px;
}