.refreshing-tip {
    max-height: 40px;
    margin-top: 10px;
    text-align: center;
    //    padding: 8px 0;
    line-height: 20px;
    color: #808080;
    background: #F0F0F0;
    font-size: 12px;
    overflow: hidden;
    -webkit-transition: all .4s ease;
    //    -webkit-transition: margin-top .4s ease;
}
